<div>
    <!-- <h3>{{starShip.name}}</h3>
    <p>Model: {{starShip.model}}</p>
    <p>Manufacturer: {{starShip.manufacturer}}</p>
    <p>Price: {{starShip.cost_in_credits}} credits</p>
    <p>Length: {{starShip.length}}</p>
    <p>Max speed: {{starShip.max_atmosphering_speed}} atmosphering</p>
    <p>Crew: {{starShip.crew}} people</p>
    <p>Passengers: {{starShip.passengers}} people</p>
    <p>Cargo Capacity: {{starShip.cargo_capacity}}</p>
    <p>Consumables: {{starShip.consumables}}</p>
    <p>Hyperdrive rating: {{starShip.hyperdrive_rating}}</p>
    <p>MGLT: {{starShip.MGLT}}</p>
    <p>Starship Class: {{starShip.starship_class}}</p>
    <p>--pilots--</p>
    <p>--filsms--</p>
    <p>Created: {{getFullYear(starShip.created)}}</p>
    <p>Cdited: {{getFullYear(starShip.edited)}}</p> --></div>
<div class="card">
    <div class="card-header">
        {{starShip.name}}
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">Model: {{starShip.model}}</p>
        <p class="card-text">Manufacturer: {{starShip.manufacturer}}</p>
        <p class="card-text">Price: {{starShip.cost_in_credits}} credits</p>
        <p class="card-text">Length: {{starShip.length}}</p>
        <p class="card-text">Max speed: {{starShip.max_atmosphering_speed}} atmosphering</p>
        <p class="card-text">Crew: {{starShip.crew}} people</p>
        <p class="card-text">Passengers: {{starShip.passengers}} people</p>
        <p class="card-text">Cargo Capacity: {{starShip.cargo_capacity}}</p>
        <p class="card-text">Consumables: {{starShip.consumables}}</p>
        <p class="card-text">Hyperdrive rating: {{starShip.hyperdrive_rating}}</p>
        <p class="card-text">MGLT: {{starShip.MGLT}}</p>
        <p class="card-text">Starship Class: {{starShip.starship_class}}</p>
        <p class="card-text">--pilots--</p>
        <p class="card-text">--filsms--</p>
        <p class="card-text">Created: {{getFullYear(starShip.created)}}</p>
        <p class="card-text">Cdited: {{getFullYear(starShip.edited)}}</p>
    </div>
</div>
