<h2>Name:  {{ planet.name }}</h2>
<p>Climate:  {{ planet.climate }}</p>
<p>Create year:  {{ getFullYear(planet.created) }}</p>
<p>Diametr: {{ planet.diameter }}</p>
<p>Edited year:  {{ getFullYear(planet.edited) }}</p>
<p>-- Films --</p>
<p>Gravity: {{ planet.gravity }}</p>
<p>Orbital period: {{ planet.orbital_period }}</p>
<p>Population: {{ planet.population }}</p>
<p>--Residents--</p>
<p>Rotation period: {{ planet.rotation_period }}</p>
<p>Surface Water: {{ planet.surface_water }}</p>
<p>Terrain: {{ planet.terrain }}</p>
